<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#navigation" data-offset="80">

    {% include header.html %}
    <section id="navigation" class="fixed-navigation">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right scrollto" style="font-size: 14px;">
              <li><a href="./index.html" class="overview">Overview</a></li>
              <li><a href="./start.html" class="">GeoEnrichment</a></li>
              <li><a href="./map.html" class="">Map Example</a></li>
              <li><a href="./chart.html" class="">Chart Example</a></li>
              <li><a href="{{ site.url }}" class="contribute">Contribute</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
    </section>

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
